/* 共通部分 */
body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-yellow {
  background-color: #fddeab;
}

.bg-blue {
  background-color: #B0E0E6;
}

/********************/
/* welcome-page css */
/********************/
div.height-max{
  height: 100vh;
}

div.left-welcompage-buttun-box{
  display: flex;
  justify-content: right;
  float : left;
  width: 50%;
  min-height: 100vh;
  margin: 0 auto;
}

img .black-cat-hug{
  max-width: none;
  display: block;
  background-size: cover;
}

div.right-welcompage-buttun-box{
  float : right;
  width: 50%;
  min-height: 100vh;
  margin: 0 auto;
}

img .black-cat{
  width: 100%;
  height: auto;
  background-size: cover;
}

right-welcompage-buttun-box{
  float : right;
  width: 50%;
  margin: 0 auto;
}